@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One|Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
}

.hero-bg{
    background: #f3f3f4 url('../img/steel-structure.png');
    background-position: 12% 83%;
    color:white;
    text-align: center;
    padding-bottom: 4em;
    
}

header{
    padding: 1em 0;
}

.hero-bg a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

h1{
    font-size: 2.7rem;
    margin: 2em 0 ;
    margin-bottom: 0;
    color: #262162;
    line-height: 2.5rem;
    font-family: 'Russo One', sans-serif;
}

h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: " ";
    position: absolute;
    width: 1.5em;
    background-color: #262162;
    height: 0.2em;
    bottom: 0;
    margin-left: -6.2em;
}

.hero-bg p{
    font-weight: bold;
    margin: 0 4em  6em 2.2em;
    padding-right: 2em;
    padding-left: 5em;
    
    text-align: left;
    color:#515659;
}

.form-container{
    /*background-color: white;*/
    margin: 2em -1em 0;
    padding: 2em;
}

.form-container p{
    color: gray;
    margin-top: .3em;
    margin-bottom: .9em;
    font-weight: normal;
    font-size: .9em;
}

label{
    color:#2d7d98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}

input[type = "text"]{
    border: 1px solid #707070;;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top:1.2em;
}

input[type=button]{
    background-color: #F89104;
    border: none;
    width: 65%;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 0;
    border-radius: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: rgb(216,126,1);
}

section{
    margin: 0 1em;
}

.authentic{
    
    margin:0;
}

.right-col{
    text-align: center;
    margin: 3em 1em;
}

.left-col{
    background-color: #262162;
    height: 100%;
    display: flex;
    align-items: center;
display: flex;
justify-content: center;
}
h2{
    text-transform: uppercase;
    position: relative;
    
}

h2::before{
    content: " ";
    position: absolute;
    width: 8em;
    background-color: #262162;
    height: 0.4em;
    bottom: 0;
    margin-left: -0.3em;
    z-index: -1;
}

p{
    line-height: 2em;
}

img{
    width: 40%;
    padding: 1em;
}

@media(min-width: 730px){
    section{
        margin: 0 4em;
    }

    .form-container{
        margin: 2em -4em 0;
    }
}


@media(min-width: 930px){
    .hero-bg{
        text-align: right;
        height: 100vh;
        padding-top:5em;
    }
    .hero-bg p{
        margin: 0 0 3em;
        padding-right:0;
       text-align: right;
    }

    h1 span::before{
      
        margin-left: -11em;
    }

    .hero-bg section {
        width: 65%;
    }

    .form-container{
        margin: 1em 0  2em;
        padding: 2em;
        /*border-radius: 0.5em;
        /*box-shadow: 10px 10px 10px rgba(0,0,0,.3);*/
    }

    form{
        display: flex;
    }
    .form-left{
        width: 70%;
    }
    label{
        margin: 0;
    }

    input[type="button"]{
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        
        padding: 0.7em 0;
        width: 30%;
    }

    .hero-bg{
        margin-bottom: 0;
    }

    section.authentic{
        display:grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas: "bowl content";
    }

    .right-col{
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img{
        grid-area: bowl;
        padding: 11.5em;
    }

    h2{
        margin: 0;
    }

}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vh;
    background: rgba(0,0,0,.9);
    z-index: 2;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.top{
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-2em)
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}